p
li {
color: rgb(125 125 125);
background-color: rgb(200 200 200);
text-align: center;
font-size: 16px;
border: dotted;
}

h1
h2 {
width: 90%px;
height: 40%px;
text-align: start;
font-weight: bold;
font-family: "Times";
}


